* {
    box-sizing: border-box;
    font-family: system-ui;
}

:root {
    --bg: #f3f4f6;
    --card: #fff;
    --text: #111827;
    --header: #111827;
}

.dark {
    --bg: #020617;
    --card: #1e293b;
    --text: #e5e7eb;
    --header: #020617;
}

body {
    margin: 0;
    background: var(--bg);
    color: var(--text);
}

header {
    background: var(--header);
    color: #fff;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.form {
    padding: 15px;
    display: grid;
    gap: 10px;
}

.form input,
.form button {
    padding: 12px;
    font-size: 16px;
}

.form button {
    background: #2563eb;
    color: white;
    border: none;
    border-radius: 8px;
}

.cards {
    padding: 15px;
    display: grid;
    gap: 12px;
}

.card {
    background: var(--card);
    padding: 15px;
    border-radius: 10px;
    /* square-ish, not rounded pill */
    box-shadow: 0 4px 8px rgba(0, 0, 0, .08);
    transition: .3s;
    display: grid;
    gap: 6px;
}


.card img {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    /* square avatar */
    object-fit: cover;
    margin: auto;
    display: block;
}

.month-bar {
    padding: 10px 15px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.month-bar select {
    padding: 6px;
    border-radius: 6px;
}


.actions {
    display: flex;
    gap: 6px;
    margin-top: 10px;
}

.actions button {
    flex: 1;
    padding: 8px;
    border: none;
    border-radius: 6px;
}

.paid {
    color: green;
    font-weight: bold;
}

.pending {
    color: #f97316;
    font-weight: bold;
}

.overdue {
    color: #dc2626;
    font-weight: bold;
}

.summary {
    position: sticky;
    bottom: 0;
    background: var(--card);
    padding: 10px;
    display: flex;
    justify-content: space-around;
    font-weight: bold;
}

.login {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background: #020617;
    color: white;
}

.crop-modal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, .7);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.crop-box {
    background: white;
    padding: 15px;
    border-radius: 12px;
    width: 90%;
    max-width: 320px;
}

.crop-box img {
    max-width: 100%;
}

.crop-box button {
    width: 100%;
    margin-top: 8px;
    padding: 10px;
}